<html>
       <head>
           <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
           <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Conddensed:300italic,700italic,700,300">
           <link rel="stylesheet" href="../../public/stylesheets/lib.css">
           <title>Finstagram</title>
       </head>
       <body>
               <header>
                <h1>Finstagram</h1>
               </header>
                <main role="main">
                    <article class="post">
                        <div class="user-info">
                            <img width="400px" src="https://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/c1.0.1078.1078/16124338_307767699624811_5476607855345795072_n.jpg">
                            <h2>podo_thedachshund</h2>
                            <h3>5 minutes ago</h3>
                        </div>
                        <a class="photo" href="#">
                            <img width="500px" src="https://scontent-lga3-1.cdninstagram.com/t51.2885-15/s320x320/sh0.08/e35/18380591_1903182293263337_735310173580558336_n.jpg" alt="post from connie_choi">
                        </a>
                        <div class="actions">
                            50 likes
                            <span class="comment-count">0comments</span>
                        </div>
                            <ul class="comments">
                                <li>
                                    <p>
                                        podo_thedachshund: Podo is so adorable!
                                    </p>
                                </li>
                            </ul>
                        </article>
                </main>
       </body>
       <body>
                <main role="main">
                    <article class="post">
                        <div class="user-info">
                            <img width="400px" src="https://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/c1.0.1078.1078/16124338_307767699624811_5476607855345795072_n.jpg">
                            <h2>podo_thedachshund</h2>
                            <h3>15 minutes ago</h3>
                        </div>
                        <a class="photo" href="#">
                            <img width="500px" src="../../public/images/IMG_4402.JPG">
                        </a>
                        <div class="actions">
                            150 likes
                            <span class="comment-count">0comments</span>
                        </div>
                            <ul class="comments">
                                <li>
                                    <p>
                                        podo_thedachshund: He was so little.
                                    </p>
                                </li>
                            </ul>
                        </article>

                </main>
              
       </body>
</html>