<html>
       <head>
           <title>My First Page</title>
       </head>
       <body>
               <header>
                   <img width="200px" src="http://www.lighthouselabs.ca/static-assets/lighthouse-labs.png">
                   <a href="http://google.ca">Google</a>
                   <a href="http://lighthouselabs.ca">Lighthouse</a>
                   <a href="http://lighthouselabs.ca.apply"></a>
                       <button>APPLY</button>
                   </a>    
               </header>
               <section>
                       <h1>Hello world!</h1>
                       <p>Here's the paragraph</p>
                       <div>
                           <p>Hello</p>
                           <p>Next line</p>
                       </div>
               </section>
       </body>
</html>